// Roboto L
webfont("Roboto L", roboto-thin, 100)
webfont("Roboto L", roboto-thinitalic, 100, italic)

webfont("Roboto L", roboto-light, 200)
webfont("Roboto L", roboto-lightitalic, 200, italic)

webfont("Roboto L", roboto-normal, normal)
webfont("Roboto L", roboto-italic, normal, italic)

webfont("Roboto L", roboto-medium, 600)
webfont("Roboto L", roboto-mediumitalic, 600, italic)

webfont("Roboto L", roboto-bold, 700)
webfont("Roboto L", roboto-bolditalic, 700, italic)

webfont("Roboto L", roboto-black, 800)
webfont("Roboto L", roboto-blackitalic, 800, italic)

// Roboto L Condensed
webfont("Roboto L Condensed", robotocondensed-light, 200)
webfont("Roboto L Condensed", robotocondensed-lightitalic, 200, italic)

webfont("Roboto L Condensed", robotocondensed-normal, normal)
webfont("Roboto L Condensed", robotocondensed-italic, normal, italic)

webfont("Roboto L Condensed", robotocondensed-bolditalic, 700, italic)
webfont("Roboto L Condensed", robotocondensed-bold, 700)

// Roboto Slab
webfont("Roboto Slab", robotoslab-thin-webfont, 100)
webfont("Roboto Slab", robotoslab-light-webfont, 200)
webfont("Roboto Slab", robotoslab-regular-webfont, normal)
webfont("Roboto Slab", robotoslab-bold-webfont, 700)
