@charset "utf-8";
@import "nib"
@import "_base/variables"
@import "_base/mixins"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

body
  background: color-background
  color: color-default
  font: font-size font-sans

@import "_base/base"
@import "_fonts/_roboto"
@import "_base/typography"
@import "_base/syntax"
@import "_base/syntax-docco"
@import "_partial/header"
@import "_partial/article"
@import "_partial/article-gallery"
@import "_partial/article-nav"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/rwd"
@import "_base/icons"
@import "_base/components"

// use @require ??