/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

.highlight {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #000;
	background: #f8f8ff;
	-webkit-text-size-adjust: none;
	font-smooth: never;
	-webkit-font-smoothing : none;
	//text-shadow: 0 -1px 0 #fff
	text-shadow: 0px 0px 1px rgba(0,0,0,0);
	.comment,
	.template_comment,
	&.diff .header,
	&.javadoc {
		color: #408080;
		font-style: italic;
	}

	.keyword,
	.assignment,
	.literal,
	&.css .rule .keyword,
	.winutils,
	&.javascript .title,
	.lisp .title,
	.subst {
		color: #954121;
	}

	.number,
	.hexcolor {
		color: #40a070;
	}

	.string,
	.tag .value,
	.phpdoc,
	.dartdoc,
	&.tex .formula {
		color: #219161;
	}

	.title,
	.id {
		color: #19469d;
	}
	.params {
		color: #00f;
	}

	&.javascript .title,
	&.lisp .title,
	.subst {
		font-weight: normal;
	}

	.class .title,
	&.haskell .label,
	&.tex .command {
		color: #458;
		font-weight: bold;
	}

	.tag,
	.tag .title,
	.rules .property,
	&.django .tag .keyword {
		color: #000080;
		font-weight: normal;
	}

	.attribute,
	.variable,
	.instancevar,
	&.lisp .body {
		color: #008080;
	}

	&.regexp,
	.regexp {
		color: #b68;
	}

	.class {
		color: #458;
		font-weight: bold;
	}

	.symbol,
	&.ruby .symbol .string,
	&.ruby .symbol .keyword,
	&.ruby .symbol .keymethods,
	&.lisp .keyword,
	&.tex .special,
	.input_number {
		color: #990073;
	}

	.builtin,
	.constructor,
	.built_in,
	&.lisp .title {
		color: #0086b3;
	}

	.preprocessor,
	.pragma,
	.pi,
	.doctype,
	.shebang,
	.cdata {
		color: #999;
		font-weight: bold;
	}

	.deletion {
		background: #fdd;
	}

	.addition {
		background: #dfd;
	}

	&.diff .change {
		background: #0086b3;
	}

	.chunk {
		color: #aaa;
	}

	&.tex .formula {
		opacity: 0.5;
	}
}