// Colors
color-default = #333
color-title = #444
color-border = #ddd
color-link = #33a6b8
color-background = #fff
color-meta = #999
color-footer = #777
background-color-code = #fff
text-color-title = #999
text-color-light = #aaa
nav-background-color = #4f5759

// Fonts
//font-sans = 'Open Sans','Helvetica Neue','Helvetica','Arial', sans-serif
font-sans = 'Roboto L', sans-serif
font-condensed = 'Roboto L Condensed'
//font-serif = Georgia, "Times New Roman", serif
font-serif = "Roboto Slab", serif
//font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-mono = "Droid Sans Mono", monospace
font-icon = icons
font-icon-path = "fonts/icons"
font-icon-version = "1.1"
//font-size = 100%
font-size = 16px
line-height = 1.5em